@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sen:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #013243;
    font-family: 'Inter', sans-serif;
  color: #32f5c8;
    
}
 
nav{
    position:sticky;
    
    top:0;
    padding: 24px 165px;
    background-color: #013243;
}
nav img {
    
 width:80px;
}

main{
    margin-bottom:80px;
} 
section{
    margin-top:25px;
    
}
.container {
    width:1200px;
    margin: auto;
}
.container h1{
    font-size:7rem;
    margin:20px 0;
}
.container p{
    line-height: 1;
}
.container button{
margin-top:30px;

    padding:10px 18px;
    font-size:1rem;
    font-weight:bold;
background-color: #32f5c8 ;
    border-radius:4px;
    border:none;
}
footer{
    width:100%;
    padding:10px 165px;
    position:fixed;
    bottom:0;
    left:0;
    background-color: #013243;
    display:flex;
    align-items: center;
    gap:15px;
}
footer p{
    color: #a5bac3;
}
footer svg{
    width:30px;
}
svg:hover{
    cursor:pointer;
}